.vscode/*
.vscode

# LaTeX temporary files
doc/*.toc
doc/*.bbl
doc/*.gz
doc/*.log
doc/*.aux
doc/*.blg
doc/*.fls
doc/*.fdb_latexmk

# Docker installation temporary files
eigen-eigen-323c052e1731
cplex_installer_12.8_Student.bin
BayesPairing/
ViennaRNA-2.4.13

# Compiled Object files
obj/*
doc/*.pdf

# Executables
bin/*

# results
results/*
results_*/
benchmark_results*/
log_of_the_run.sh
logBadDesc.txt
gurobi.log
temp/*
biorseo_results/*

# data 
data/modules/BGSU
data/modules/DESC
data/modules/BGSU/HL/3.2/diagnostic/*
data/modules/BGSU/HL/3.2/lib/*
data/modules/BGSU/IL/3.2/diagnostic/*
data/modules/BGSU/IL/3.2/lib/*
data/modules/DESC/*.desc
data/modules/CaRNAval/Subfiles
data/modules/CaRNAval/__pycache__

