.vscode/*
.vscode

# LaTeX temporary files
doc/*.toc
doc/*.bbl
doc/*.gz
doc/*.log
doc/*.aux
doc/*.blg
doc/*.fls
doc/*.fdb_latexmk

# Compiled Object files
*.o
obj/*

# Executables
bin/*

# results
results/*
log_of_the_run.sh
logBadDesc.txt
gurobi.log
IL*
HL*
