.vscode

# Docker installation temporary files
eigen-eigen-323c052e1731
cplex_installer_12.8_Student.bin

# Compiled Object files
obj/*
data/modules/RIN/__pycache__

# Executables
bin/*

# results
results/*
results_*/
benchmark_results*/
log_of_the_run.sh
logBadDesc.txt
gurobi.log
temp/*
nohup.out
*.gz
*.pickle

# data 
data/modules/BGSU
data/modules/DESC
data/modules/RIN
data/modules/ISAURE
data/sec_structs/bpRNA-1m_90.dbn
data/sec_structs/pseudobase++.dbn
data/fasta/contacts/